.recipe-block {
    display: flex;
    flex-direction: row-reverse;
    margin: 16px 8px;
    border: 1px solid #ccc;
    border-radius: 1%;
    padding: 8px;
    background-color: #ddd;

    .recipe-content {
        margin-right: auto;
        justify-content: center;
        list-style: none;
        align-items: flex-start;
    }

    .recipe-actions {
        a {
            color: #000;
            text-decoration: none;
            
            img {
                width: 32px;
            }
        }
    }
}