.recipe-block {
    width: 100%;
    margin: 16px 8px;
    border: 1px solid #ccc;
    border-radius: 1%;
    background-color: #ddd;
    overflow: hidden;

    .recipe-content {
        padding: 4px 24px;
        color: #000;
        word-wrap: break-word;
    }

    .recipe-header,
    .recipe-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
        gap: 16px;
        background-color: #BBB;
        padding: 2px 16px;
        word-wrap: break-word;

        h2 {
            margin-right: auto;
        }

        a {
            color: #000;
            font-size: 1.5em;
            text-decoration: none;

            &:hover {
                color: #EEE;
            }
        }
    }
}

.form-container {
    form {
        display: flex;
        justify-content: center;
        width: 100%;

        input {
            width: 100%;
            height: 32px;
        }

        textarea {
            width: 100%;
            height: 64px;
        }

        fieldset {
            width: 75%;
        }
        label {
            display: block;
            margin: 8px 4px;
        }
    }
}

@media screen and (max-width: 768px) {
    .form.container {
        p {
            text-align: center;
        }
    }
}