.form-container {
    form {
        display: flex;
        justify-content: center;

        input {
            width: 100%;
            height: 32px;
        }

        textarea {
            width: 100%;
            height: 64px;
        }

        fieldset {
            width: 75%;
        }

        label {
            display: block;
            margin: 8px 4px;
        }

        button {
            float: right;
            margin: 0px 4px;
        }
    }
}