$primary-color: #a9694d;
$secondary-color: #ffffff;
$accent-color: #dddddd;

section {
    background-color: $secondary-color;
    padding: 24px 16px;
}

nav {
    position: sticky;
    top: 0;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: center;
    padding: 0 8px;


    ul {
        justify-content: flex-end;
        list-style: none;

        li {
            display: inline-block;
            justify-content: space-around;
            padding: 0 20px;

            a {
                transition: all ease 0.3s 0s;
                color: $secondary-color;
                text-decoration: none;
        
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    #brand {
        margin-right: auto;
        transition: color ease 0.3s 0s;
        text-decoration: none;
        color: $secondary-color;

        &:hover {
            cursor: pointer;
            color: $accent-color;
        }
    }
}

@media screen and (min-width: 768px) {
    .desktop-links {
        display: block;
    }
    .mobile-links {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop-links {
        display: none;
    }
    .mobile-links {
        display: block;
    }
}