@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Verdana", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#content-holder {
    padding: 32px 0px;
}