$primary-color: #b69b7e;
$secondary-color: #ffffff;
$accent-color: #000000;

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: $primary-color;
    background-image: url('../images/navbg.jpg');
    background-repeat: repeat-x;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 32px;
    z-index: 1000;

    * {
        margin: 0;
        padding: 0;
    }

    .brand {
        margin-right: auto;
        font-size: 1.7rem;
        font-weight: bold;
        color: $secondary-color;

        &:hover {
            transition: 0.3s;
            color: $accent-color;
        }
    }

    .nav-menu {
        display: flex;
        gap: 16px;

        .nav-item {
            list-style-type: none;
            display: inline-flex;
        }

        .nav-link {
            font-size: 1.5rem;
            font-weight: bold;
            color: $secondary-color;

            &:hover {
                transition: 0.3s;
                color: $accent-color;
            }
        }
    }

}

.hamburger {
    display: none;
    cursor: pointer;

    .bar {
        display: block;
        width: 25px;
        margin: 5px 0px 0px 0px;
        height: 3px;
        background-color: $secondary-color;
    }
}

@media screen and (max-width:768px) {
    .nav-menu {
        position: fixed;
        top: -20%;
        left: 0;
        background-color: $secondary-color;
        border-bottom: 1px solid $accent-color;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        z-index: -100;
        transition: ease-in-out 0.5s;

        .nav-item {
            display: flex;
            justify-content: center;
        }

        .nav-link {
            color: $accent-color;
            margin: 8px 0;
            transition: 0.3s;
        }
    }

    .nav-menu.show {
        top: 100px;

        .nav-item {
            .nav-link {
                color: $accent-color;
            }
        }
    }

    section.show {
        transform: translateY(200px);
        transition: transform ease-in-out 0.5s;
    }

    .hamburger {
        display: block;

        .bar {
            transition: 0.3s;
        }
    }

    .hamburger.active {
        .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .bar:nth-child(2) {
            opacity: 0;
        }

        .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

}