$primary-color: #a9694d;
$secondary-color: #ffffff;
$accent-color: #dddddd;

section#recipes {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

    .recipe-block {
        width: 20%;
        border: 1px solid $accent-color;
        overflow: hidden;
        -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);

        hr {
            margin: 0;
        }

        .default-recipe-image {
            background-image: url('../images/defaultRecipeImage.jpg');
            background-size: cover;
            width: 100%;
            height: 200px;
        }

        .recipe-image {
            background-size: cover;
            width: 100%;
            height: 200px;
        }

        .recipe-header {
            padding: 0px 8px;
            margin: 0px;
            display: flex;
            gap: 8px;
            align-items: baseline;
            justify-content: flex-end;
            word-break: break-all;

            h2 {
                margin-right: auto;
            }

            a {
                font-size: 1.5em;
                color: #000;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .recipe-content {
            word-break: break-all;
            padding: 0px 4px;
        }

        .recipe-footer {
            padding: 4px 8px;

            small {
                float: right;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section#recipes {
        .recipe-block {
            width: 100%;
        }
    }
}